#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgb(249, 247, 255);
}

.contain-date {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.container {
  /* place-content: start; */
  margin-top: 0;
}

.mainTitle {
  margin-bottom: 24px;
}

.logoHome {
  width: 350px;
  /* height: 50px; */
  object-fit: contain;

  padding-left: 6px;
  margin: 0 auto;
}

.containerHome {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.homeParagraph {
  max-width: 450px;
  font-size: 12px;
}

.ContactsBTN {
  border-radius: 12px;
  padding: 12px 16px;
  background-color: rgb(152, 116, 236);
  box-shadow: 4px 4px 8px 0 rgba(151, 71, 255, 0.381);
  color: rgb(230, 223, 249);

  font-size: 16px;
  line-height: 0.9;
  height: 40px;

  &:hover {
    background-color: rgb(124, 95, 192);
    color: rgb(230, 223, 249);
  }
}

.containerPBTN {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
